.App {
  text-align: center;
  background-color: #fb9a40;
}

.App-header {
  background-color: #a3f3eb;
  padding: 1em;
  text-shadow: 2px 3px black;
  color: #fbd341;
  margin-bottom: 1em;
}

.App-title {
  
  font-size: 1.5em;
}

.flipDescription {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  background-color: blueviolet;
}

.container {
  border: 3px black;
  grid-auto-columns: auto;
}